[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
wget = "*"
scikit-learn = "==1.2.2"
beautifulsoup4 = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
